.pageHeader{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-items: center;
}

header p{
    margin: 0 auto;
    font-size: 18px;
    font-weight:bold;
    display: flex;
    align-self: center;
    padding-right: 24px;
}

.docPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0px 20px;
}

.docPage .main_main{
    margin-top: 24px;
}

.docPage .fileBtn{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 24px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #64748B;
    width: 100%;  
    height: 83px;
    padding: 0 6px;
}

.fileBtn .fileicon{
    font-size: 30px;
    color: #006AFF;
}
.docPage .file_title{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 5px;  
}

.file_title div{
    display: flex;
    flex-direction: row;
    font-size: 16px;
    gap: 5px;
}

.file_title p{
    font-weight: bold;
    margin: 0;
    margin-bottom: 9px;
}

.file_title span{
    font-size: 12px;
    color: #64748B;
    margin-left: 3px;
}

.fileBtn .delicon{
    margin-left: auto; 
    font-size: 28px;

}
