.findpwPage .main_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 26px 0px;
}

.findpwPage .logo{
    margin-top: 0px;
    margin-bottom: 2px;
}

.findpwPage .main_top h1 {
    margin: 0;
    font-size: 24px;
}

.findpwPage .main_top span {
    display: flex;
    align-self: center;
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 11px;
    color: #64748B;
}



.findpwPage .main_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0px 20px;
    margin-top: 150px;
}

.findpwPage .main_main h1{
    margin-bottom: 22px;
    font-size: 21px;
    align-self: center;
}

.findpwPage .main_main span{
    display: flex;
    align-self: center;
    font-size: 15px;
}

.findpwPage .main_main .BlueBtn{
    margin-top: 107px;
}
