.ocrPage .main_main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    height: 55vh;
    border: 1px solid #000000;  
    border-radius: 8px;
    gap: 140px;
}

.ocrPage .main_main_text{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ocrPage .main_main_text p{
    font-size: 16px;
    margin: 0px;
    margin-bottom: 10px;
    color: #64748B;
}

.ocrPage .main_main_text span{
    font-size: 12px;
    color: #64748B;
}

.ocrPage .main_btm{
    display: flex;
    flex-direction: row;
    gap: 24px;
}

.ocrPage .main_btm button{
    width: 140px;
    height: 75px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #64748B;
    color: #64748B;
}

.ocrPage .main_btm .uploadBtn{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    margin: 0;
    width: 140px;
    height: 75px;
    background-color: #ffffff;
    border-radius: 10px;
    border: 1px solid #64748B;
    color: #64748B;
}

.ocrPage .main_btm .uploadBtn p{
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #64748B;
}

.ocrPage .main_btm .icon{
    margin-top: 10px;
    font-size: 32px;
    color: #64748B;
}

.ocrPage .main_btm button p{
    margin: 0;
    margin-bottom: 10px;
    font-size: 14px;
    color: #64748B;
}

.ocrPage .main_bottom{
    margin-top: 58px;
    margin-bottom: 27px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ocrPage .main_bottom p {
    font-size: 14px;
    color: #64748B;
    padding: 0px;
    margin: 0px;
    margin-bottom: 5px;
}
