.titlePage{
    display: flex;
    flex-direction: column;
    justify-content: center;  
    align-items: center;      
    margin: 0 20px;
}

.titlePage .logo{
    margin-top: 160px;
    margin-bottom: 40px;
}

.titlePage h1{
    font-weight: bold; 
    font-size: 23px;

}

.titlePage p{
    font-size: 16px;
    color: #64748B;
}

.titlePage span{
    font-size: 13px;
    color: #64748B;
}

.titlePage .main_main_btn {
    margin-top: 30px;
    margin-bottom: 53px;
    display: flex;
    flex-direction: row;
    gap: 14px;
}


.titlePage .main_main_btn button {
    width: 178px;    
    height: 38px;
    display: flex;          
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.titlePage .main_main_btn .loginBtn{
    border:1px solid #64748B;
    background-color: #ffffff;
}

.titlePage .main_main_btn .signBtn{
    border: none;
    background-color: #006AFF;
    color: #ffffff;
}
