.signPage .main_top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 26px 0px;
}

.signPage .logo{
    margin-top: 0px;
    margin-bottom: 2px;
}

.signPage .main_top h1 {
    margin: 0;
    font-size: 24px;
}

.signPage .main_top p {
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 16px;
    color: #64748B;
}



.signPage .main_main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0px 20px;
}

.signPage .form_row {
    display: flex;
    flex-direction: column;
}


.signPage .main_bottom{   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 0px 20px;
    margin-top: 107px;
}

.signPage .main_bottom .main_main_signUp{
    display: flex;
    align-self: center;
    margin-top: 90px;
    gap: 10px;
}