.home_logo {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
}

.home_logo .logoImg{
    width: 64px;
    margin-top: 0;
}

.home_logo .logoText{
    width: 117px;
}

/* 로고 텍스트 가운데 정렬을 위해 절대위치로 지정
left: 50% → 요소의 왼쪽 모서리를 부모 너비의 50% 지점에 배치
transform: translateX(-50%) → 그 요소를 자신의 절반 너비만큼 다시 왼쪽으로 당김 */
.home_logo .logoText {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* 첫 번째 아이콘에 auto margin을 걸어서
   로고이미지 사이에서 아이콘 영역 전체를 오른쪽으로 밀어냄 */
    .home_logo .profileBtn {
    margin-left: auto;
    margin-right: 10px;
    font-size: 24px;
    line-height: 1;
} 



.homePage{
    display: flex;
    flex-direction: column;
}

.homePage h1{
    font-size: 24px;
    margin-top: 30px;
    margin-left: 23px;
    margin-bottom: 42px;
}
.homePage p{
    margin-bottom: 0px;
    margin-top: 10px;
    font-weight: bold;
}
.homePage span{
    display: inline-block;
    margin-bottom: 10px;
    color: #64748B;
}

.homePage .pageBtn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
    margin-right: 20px;
}
.homePage .main_myFile{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.homePage button{
    display: flex;
    align-items: center;
    padding: 0px;
    background-color: #ffffff;
    border:1px solid #64748B;
    border-radius: 10px;
    margin-bottom: 33px;
}

.homePage button .btn_icon{
    font-size: 32px;
    margin: 15px;
    color: #006AFF;
}

.homePage .main_OCRPicture{
    display: flex;
    flex-direction: row;
    gap: 12px;
}
.homePage .main_law{
    display: flex;
    flex-direction: row;
    gap: 12px;
}

.homePage .pageBtnText{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bottom-nav{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    border-top: 1px solid #64748B;
    padding: 8px 0;
}
