.sumaryPage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.sumaryPage .main_top{
    align-self: center;
    margin-top: 15px;
    margin-bottom: 25px;
}

.sumaryPage .main_top span{
    font-size: 11px;
    color: #64748B;
}

.sumaryPage .main_main{
    padding: 0 20px;
}
.sumaryPage .icon{
    font-size: 16px;
}
.sumaryPage .warning_box{
    display: flex;
    flex-direction: column;
    border: 1px solid #ff0000;  
    border-radius: 8px;
    color: #ff0000;
    margin-bottom: 35px;
}
.sumaryPage .warning_box .warning_title{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    margin-top: 15px;
    margin-left: 15px;
}

.warning_title p{
    margin: 0px;
    margin-left: 7px;
}

.warning_box span{
    font-size: 11px;
    margin: 9px;
}


.sumaryPage .warning_text{
    display: flex;
    flex-direction: column;
}

.sumaryPage .main_box{
    display: flex;
    flex-direction: column;
    border: 1px solid #64748B;  
    border-radius: 8px;
    margin-bottom: 25px;
}

.sumaryPage .main_box_title{
    display: flex;
    flex-direction: row;
    gap: 5px;
    margin-top: 15px;
    margin-left: 15px;
    margin-bottom: 10px;
}

.sumaryPage .main_box_title .icon{
    padding-top: 1px;
    color: #006aff;
    font-size: 20px;
}

.sumaryPage .main_box_title p{
    font-weight: bolder;
    margin: 0px;
}

.sumaryPage .main_box .row_title{
    margin: 0 auto 15px 15px;
    font-size: 14px;
}

.sumaryPage .content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    margin-bottom: 10px;
}

.sumaryPage .content p{
    margin: 0 0 10px 0;
}

.sumaryPage .content .content_ex{
    color: #64748B;
}


.sumaryPage .detail_btn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; 
    margin: 0 25px 15px 25px;
    border: 1px solid #64748B;
    border-radius: 10px;
    background-color: #ffffff;
    font-size: 14px;
    gap: 5px;
}

.sumaryPage .detail_btn p{
    margin: 8px 0;
}



.sumaryPage .add_text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; 
    font-size: 12px;
    color: #64748B;
    margin-top: 30px;
}

.sumaryPage .add_text p{
    margin: 0 0 5px 0;
}